{% extends "encyclopedia/layout.html" %}

{% block title %}
    Search Results
{% endblock %}

{% block body %}
    <div class="search-results">
        {%if substring == True %}
            <h4>Search Results for:<i>{{ searchItem }}</i></h4>
            <ul>
                {% for result in results %}
                    <li><a href="wiki/{{result}}">{{ result }}</a></li>
                {% endfor %}
            </ul>
        {%else%}    
            <h2>No Results Found</h2> 
            <p>It looks like we don't have what you're looking for.</p>
            <a class="create-page" href="{% url 'newPage'%}">Create Page</a>
        {%endif%}
    </div>
{% endblock %}